<div id="page-footer" class="page-footer">
    <footer>
        <p>            
            Hosted by <a href="https://th.worldipl.org">World IPL</a><br/>
            Developed by ©2024 Bizcad Systems. All rights reserved.
        </p>
        <p>

        </p>
    </footer>
</div>
@code {

}
