@page "/disclosure"
@using BlazorTabsMenu.Models
@using BlazorTabsMenu.Services
@inject IDataDictionaryItemService<DataDictionaryItem> DataDictionaryService

<h3>DISCLOSURE</h3>
<form name="entryform" id="entryform" action="" method="post" onsubmit="">
    <div>
        <!--start spacer-->
        <div style="max-height: 30px">
            <div style='padding: 3px'><span>&nbsp;</span><br />&nbsp;</div>
            <div><span>&nbsp;</span><br />&nbsp;</div>
            <div><span>&nbsp;</span><br />&nbsp;</div>
            <div><span>&nbsp;</span><br />&nbsp;</div>
        </div>
        <!--end spacer-->
        @if (dataDictionaryItems.Count == 0)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var item in dataDictionaryItems)
            {
                @if (item.QuestionNumber is null)
                {
                    continue;
                }
                else
                {
                    <div class="wrapper">
                        <QuestionWrapped item="item" />
                        
                    </div>
                }
            }
        }
    </div>
</form>

@code {
    private List<DataDictionaryItem> dataDictionaryItems = new List<DataDictionaryItem>();

    protected override async Task OnInitializedAsync()
    {
        var dataDictionaryItems = await DataDictionaryService.GetTabNumberAsync(3);
        if (dataDictionaryItems != null)
        {
            this.dataDictionaryItems = dataDictionaryItems;
        }
    }
    //item.ColumnNameStatus is null || item.ColumnNameStatus.Length == 0 ||
}
