@page "/"
@using BlazorTabsMenu.Models
@using BlazorTabsMenu.Services
@inject IDataDictionaryItemService<DataDictionaryItem> DataDictionaryService
@inject ITopicService TopicService
@inject ICountryService CountryService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div><h3>Countries</h3></div>
@foreach (var country in countries)
{
    <div>@country.CountryName</div>
}

<div><h3>Topics</h3></div>
@foreach(var topic in topics)
{
    <div>@topic.TopicName</div>
}

@foreach (var item in dataDictionaryItems)
{
    <div>@item.QuestionLabelText</div>
}

@code{
    private List<DataDictionaryItem> dataDictionaryItems = new List<DataDictionaryItem>();
    private List<Topic> topics = new List<Topic>();
    private List<Country> countries = new List<Country>();

    protected override async Task OnInitializedAsync()
    {
 
        var topics = await TopicService.GetSurveyTopicsAsync();
        if (topics != null)
        {
            this.topics = topics;
        }

        var countries = await CountryService.GetAsync();
        if (countries != null)
        {
            this.countries = countries;
        }


        // var dataDictionaryItems = await DataDictionaryService.GetAsync();
        // if (dataDictionaryItems != null)
        // {
        //     this.dataDictionaryItems = dataDictionaryItems;
        // }        
    }
}