@page "/"
@using BlazorTabsMenu.Models
@using BlazorTabsMenu.Services
@inject IDataDictionaryItemService<DataDictionaryItem> DataDictionaryService
@inject ITopicService TopicService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@foreach(var topic in topics)
{
    <div>@topic.TopicName</div>
}

@code{
    private List<DataDictionaryItem> dataDictionaryItems = new List<DataDictionaryItem>();
    private List<Topic> topics = new List<Topic>();

    protected override async Task OnInitializedAsync()
    {

        var topics = await TopicService.GetSortedAsync();
        if (topics != null)
        {
            
            this.topics = topics;
        }


        var dataDictionaryItems = await DataDictionaryService.GetAsync();
        if (dataDictionaryItems != null)
        {
            this.dataDictionaryItems = dataDictionaryItems;
        }        
    }
}