@page "/office"
<h3>OFFICE</h3>
<form name="entryform" id="entryform" action="" method="post" onsubmit="">
    <div >
        <!--start spacer-->
        <div style="max-height: 30px">
            <div style='padding: 3px'><span>&nbsp;</span><br />&nbsp;</div>
            <div><span>&nbsp;</span><br />&nbsp;</div>
            <div><span>&nbsp;</span><br />&nbsp;</div>
            <div><span>&nbsp;</span><br />&nbsp;</div>
        </div>
        <!--end spacer-->
        <div class="wrapper">
            <QuestionWrapped />
        </div>
    </div>
</form>

@code {

}
