<div>
    <label for="PatDis_previous" class="yr_over">2018</label><br />
    <div class="input-group">
        <div>&nbsp;</div>
        <div class="input-group-area-previous">
            <input type="text"
                   id="PatDis_previous"
                   name="PatDis_previous"
                   value=""
                   class="input-unvisited"
                   size="10">
        </div>

    </div>
</div>

@code {
    
    
}
