<!--start of QuestionLabel.razor-->
<div class="question_label inst_bottom_spacer">
    TANGIBLE PROPERTY<br />
    <div class="question_div">
        <span class="question_text">DISCLOSURE where TTO will protect as tangible biological material (seeds, plants, animals, microorganisms, etc.)</span>
    </div>
</div>

@code {

}
