@using BlazorTabsMenu.Models
<!--start of QuestionLabel.razor-->
<div class="question_label inst_bottom_spacer">
    @item.QuestionLabelText<br />
    <div class="question_div">
        <span class="question_text">@item.QuestionText</span>
    </div>
</div>

@code {
    [Parameter]
    public DataDictionaryItem? item { get; set; }
    // protected override async Task OnInitializedAsync()
    // {
    //     inputid = item.ColumnName + "_current";
    //     inputname = item.ColumnName + "_current";

    // }
    protected override void OnInitialized()
    {

    }

}
