@using BlazorTabsMenu.Models
@using BlazorTabsMenu.Services
<!--Start of QuestionNumber.razor-->
<div class="qno">@item.QuestionNumber<br /></div>

@code {
    [Parameter]
    public DataDictionaryItem? item { get; set; }
    // protected override async Task OnInitializedAsync()
    // {
    //     inputid = item.ColumnName + "_current";
    //     inputname = item.ColumnName + "_current";

    // }
    protected override void OnInitialized()
    {

    }

}
